body{
    direction: rtl;
}

.my-drawer-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10; 
}


.my-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: translateX(-100%);
    z-index: 10;
    transition: transform .6s cubic-bezier(.19,1,.22,1);
    overflow: auto;
}


.my-drawer.open {
    transform: translateX(0);
}
